
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scrollbar-width: none;
}
body {
    background-color: #07080c;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
.swiper-3d{
    padding: 10px 0 !important;
}
.marquee-row:hover .marquee-track {
    animation-play-state: paused;
}
